* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
}

.container {
    width: 95%;
    margin: auto;
}

.back-btn {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 25px;
    background: white;
}

.post-section {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.left-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-box {
    flex: 1;
    background: #f1f3f5;
    border-radius: 10px;
    padding: 20px;
}

.post-box h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.post-box p {
    line-height: 1.7;
    font-size: 15px;
    color: #222;
}

.post-actions {
    margin-top: 15px;
    display: flex;
    gap: 25px;
    font-size: 13px;
    color: #667085;
}

.view-comments {
    margin: 20px 0px 20px 55px;
    color: #006b4f;
    font-size: 14px;
    cursor: pointer;
}

.comment-box {
    display: flex;
    gap: 12px;
    margin-bottom: 14px;
    margin-left: 55px;
}

.comment-box img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.comment-content {
    flex: 1;
    background: #f1f3f5;
    border-radius: 10px;
    padding: 12px 15px;
}

.comment-content p {
    margin-bottom: 10px;
    color: #666;
}

.comment-actions {
    display: flex;
    gap: 25px;
    font-size: 13px;
    color: #667085;
}