      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      body {
          font-family: Arial, sans-serif;
          background: #FAFAFB;
      }

      header {
          height: 60px;
          background: white;
          border-bottom: 1px solid #ddd;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 0 30px;
      }

      .top-right {
          display: flex;
          align-items: center;
          gap: 20px;
      }

      .top-right img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
      }

      .container {
          display: flex;
          padding: 30px;
          gap: 30px;
      }

      .sidebar a {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          padding: 10px;
          border-radius: 6px;
          background: #e0ecff;
          text-decoration: none;
          color: blue;
          margin-bottom: 15px;
          font-weight: 600;
      }


      /* icon */
      .sidebar i {
          width: 25px;
          color: white;
          background-color: rgb(255, 61, 13);
          border: 1px solid orange;
      }

      /* content */
      .content {
          flex: 1;
          background: #FAFAFB;
          padding: 30px;
          border-radius: 8px;
      }

      /* top bar */
      .top-bar {
          display: flex;
          gap: 530px;
          margin-bottom: 25px;
      }

      .top-bar span {
          color: #7c3aed;
          font-size: 13px;
          margin-left: 10px;
      }

      .top-bar h3 {
          padding: 15px 10px;
          background: white;
          font-weight: 480;
      }

      .search-box {
          border: 1px solid #ddd;
          padding: 8px 12px;
          background: white;
          width: 350px;
      }

      .search-box input {
          padding-top: 8px;
          border: none;
          outline: none;
      }



      /* table */
      table {
          width: 100%;
      }

      thead {
          text-align: left;
      }

      th,
      td {
          padding: 15px;
          border-bottom: 1px solid #eee;
      }

      img {
          vertical-align: text-bottom;
          /* hoặc middle tuỳ ý */
      }

      tbody {
          background: white;
      }

      .user {
          display: flex;
          align-items: center;
          gap: 10px;
      }

      .user img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
      }

      .user span {
          color: gray;
          font-size: 12px;
      }

      .block {
          color: #6941C6;
          width: 56px;
          height: 21px;
          background-color: #F9F5FF;
          border: none;
          border-radius: 10px;
      }

      .unblock {
          color: #175CD3;
          width: 75px;
          height: 21px;
          background-color: #EFF8FF;
          border: none;
          border-radius: 10px;
      }

      /* pagination */
      .pagination {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .pagination button {
          padding: 8px 16px;
          border: 1px solid #ddd;
          background: white;
          border-radius: 6px;
          cursor: pointer;
      }

      .pages {
          display: flex;
          gap: 15px;
      }